Node-Red -files + logs/Read from Thingspeak HTML
[{"id":"5926d097.aeb6a","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"985590ef.faa93","type":"inject","z":"5926d097.aeb6a","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":80,"wires":[["843b0b.39f1e4f8"]]},{"id":"55fb4637.64f528","type":"http request","z":"5926d097.aeb6a","name":"","method":"GET","ret":"txt","url":"https://api.thingspeak.com/channels/803134/fields/field2.json?api_key=ZDQZR93SSI3SA6K9&results=2100","tls":"","x":290,"y":80,"wires":[["a4d3663d.720ee8"]]},{"id":"de74e8c3.452d78","type":"debug","z":"5926d097.aeb6a","name":"Humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1020,"y":200,"wires":[]},{"id":"a4d3663d.720ee8","type":"json","z":"5926d097.aeb6a","name":"","property":"payload","action":"","pretty":false,"x":270,"y":160,"wires":[["6a707369.e6d9dc"]]},{"id":"6a707369.e6d9dc","type":"change","z":"5926d097.aeb6a","name":"only T data","rules":[{"t":"set","p":"payload","pt":"msg","to":"$.payload.feeds.field2","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":160,"wires":[["d772f6ba.fedc28"]]},{"id":"d772f6ba.fedc28","type":"split","z":"5926d097.aeb6a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":160,"wires":[["5dcb2ec0.044ce"]]},{"id":"5dcb2ec0.044ce","type":"function","z":"5926d097.aeb6a","name":"String to Number","func":"msg.payload=Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":160,"wires":[["bc72178a.20bed8","de74e8c3.452d78"]]},{"id":"843b0b.39f1e4f8","type":"http request","z":"5926d097.aeb6a","name":"","method":"GET","ret":"txt","url":"https://api.thingspeak.com/channels/803134/fields/field1.json?api_key=ZDQZR93SSI3SA6K9&results=2100","tls":"","x":270,"y":260,"wires":[["698ad5a0.f796fc"]]},{"id":"e1010194.a7abe","type":"debug","z":"5926d097.aeb6a","name":"Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":420,"wires":[]},{"id":"c9679c42.d78ef","type":"change","z":"5926d097.aeb6a","name":"only H data","rules":[{"t":"set","p":"payload","pt":"msg","to":"$.payload.feeds.field1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":340,"wires":[["de18fe1e.64ff9","c805eb0f.92b418"]]},{"id":"72fd2f2e.c23d8","type":"function","z":"5926d097.aeb6a","name":"Email func","func":"msg=\n{\n payload : \"Emergency Alert! There is an high alert of increase in Temperature. Run!!\" + Date().toString(),\n topic :    \"Temperature Rising Alert\",\n to :       \"bhuyanmj@gmail.com, bakti.ariani@gmail.com\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":360,"wires":[["2ddf3b07.a7c724","e1010194.a7abe"]]},{"id":"2ddf3b07.a7c724","type":"e-mail","z":"5926d097.aeb6a","server":"smtp.gmail.com","port":"587","secure":false,"name":"bhuyanmj@gmail.com","dname":"Email Alert","x":1110,"y":300,"wires":[]},{"id":"f5c3526b.70a16","type":"switch","z":"5926d097.aeb6a","name":"Check Threshold","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"44","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":300,"wires":[["72fd2f2e.c23d8"]]},{"id":"de18fe1e.64ff9","type":"split","z":"5926d097.aeb6a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450,"y":340,"wires":[["f6162617.a3d1c8"]]},{"id":"f6162617.a3d1c8","type":"function","z":"5926d097.aeb6a","name":"String to Number","func":"msg.payload=Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["fc1589ac.c94558"]]},{"id":"698ad5a0.f796fc","type":"json","z":"5926d097.aeb6a","name":"","property":"payload","action":"","pretty":false,"x":130,"y":340,"wires":[["c9679c42.d78ef"]]},{"id":"bc72178a.20bed8","type":"file","z":"5926d097.aeb6a","name":"Humidity to file","filename":"/home/user/Desktop/MQTT-like-application-master/HumData.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1040,"y":120,"wires":[[]]},{"id":"fc1589ac.c94558","type":"file","z":"5926d097.aeb6a","name":"Temperature to file","filename":"/home/user/Desktop/MQTT-like-application-master/TempData.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":710,"y":420,"wires":[[]]},{"id":"c805eb0f.92b418","type":"function","z":"5926d097.aeb6a","name":"Average of Temp","func":"var all=0;\nvar count=0;\ni=(msg.payload.length);\nfor (var n=0; n<i; n++)\n{  if(msg.payload[n]!==null)\n   {   count++;\n       var data = Number(msg.payload[n]);\n       var all= all+ data;\n   }\n}\nmsg.payload = all/count;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["f5c3526b.70a16"]]}]
