Node-Red -files + logs/Read from Thingspeak MQTT
[{"id":"6c9e2a79.f8a9a4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"64f8e1a6.dab8b","type":"mqtt in","z":"6c9e2a79.f8a9a4","name":"mqtt","topic":"sensors/#","qos":"2","broker":"a08889ab.3b3708","x":130,"y":220,"wires":[["b5d0de19.ad2f7"]]},{"id":"3337657c.7ba0aa","type":"mqtt out","z":"6c9e2a79.f8a9a4","name":"MQTT ","topic":"sensors/livingroom/temp","qos":"","retain":"false","broker":"a08889ab.3b3708","x":410,"y":60,"wires":[]},{"id":"cc682bfc.9eb3f8","type":"inject","z":"6c9e2a79.f8a9a4","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":60,"wires":[["ef0f471d.563008"]]},{"id":"ef0f471d.563008","type":"http request","z":"6c9e2a79.f8a9a4","name":"","method":"GET","ret":"txt","url":"https://api.thingspeak.com/channels/802840/fields/1.json?results=2800","tls":"","x":250,"y":60,"wires":[["3337657c.7ba0aa"]]},{"id":"991ca3cc.a4fa","type":"debug","z":"6c9e2a79.f8a9a4","name":"Humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1040,"y":260,"wires":[]},{"id":"b5d0de19.ad2f7","type":"json","z":"6c9e2a79.f8a9a4","name":"","property":"payload","action":"","pretty":false,"x":290,"y":220,"wires":[["3f255139.71ef7e"]]},{"id":"3f255139.71ef7e","type":"change","z":"6c9e2a79.f8a9a4","name":"only T data","rules":[{"t":"set","p":"payload","pt":"msg","to":"$.payload.feeds.field2","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":220,"wires":[["5610336d.16238c"]]},{"id":"5610336d.16238c","type":"split","z":"6c9e2a79.f8a9a4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":220,"wires":[["c436375d.7931a8"]]},{"id":"c436375d.7931a8","type":"function","z":"6c9e2a79.f8a9a4","name":"String to Number","func":"msg.payload=Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":220,"wires":[["addc438.3f8bec","991ca3cc.a4fa"]]},{"id":"1445e902.5f51f7","type":"debug","z":"6c9e2a79.f8a9a4","name":"Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1270,"y":440,"wires":[]},{"id":"42fd376.6e0d5c8","type":"change","z":"6c9e2a79.f8a9a4","name":"only H data","rules":[{"t":"set","p":"payload","pt":"msg","to":"$.payload.feeds.field1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":360,"wires":[["c08d98ac.21f478","7c3c9c3c.488544"]]},{"id":"77b8f4e7.e39a6c","type":"function","z":"6c9e2a79.f8a9a4","name":"Email function","func":"msg=\n{\n payload :  \"Emergency Alert! There is an high alert of increase in Temperature. Run..!!\" + Date().toString(),\n topic :    \"Temperature Rising Alert\",\n to :       \"bhuyanmj@gmail.com\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":380,"wires":[["57ed8701.ba6098","1445e902.5f51f7"]]},{"id":"caa5dd27.25659","type":"switch","z":"6c9e2a79.f8a9a4","name":"Check Threshold","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"44","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":320,"wires":[["77b8f4e7.e39a6c"]]},{"id":"c08d98ac.21f478","type":"split","z":"6c9e2a79.f8a9a4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":360,"wires":[["ad24dd94.2330b"]]},{"id":"ad24dd94.2330b","type":"function","z":"6c9e2a79.f8a9a4","name":"String to Number","func":"msg.payload=Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":420,"wires":[["aaf6f858.b58958","671406ca.8bcc18"]]},{"id":"92d62590.82aef8","type":"json","z":"6c9e2a79.f8a9a4","name":"","property":"payload","action":"","pretty":false,"x":290,"y":360,"wires":[["42fd376.6e0d5c8"]]},{"id":"addc438.3f8bec","type":"file","z":"6c9e2a79.f8a9a4","name":"Humidity to file","filename":"/home/user/Desktop/MQTT-like-application-master/HumData.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1060,"y":180,"wires":[[]]},{"id":"aaf6f858.b58958","type":"file","z":"6c9e2a79.f8a9a4","name":"Temperature to file","filename":"/home/user/Desktop/MQTT-like-application-master/TempData.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":870,"y":440,"wires":[[]]},{"id":"7c3c9c3c.488544","type":"function","z":"6c9e2a79.f8a9a4","name":"Average of Temp","func":"var all=0;\nvar count=0;\ni=(msg.payload.length);\nfor (var n=0; n<i; n++)\n{  if(msg.payload[n]!==null)\n   {   count++;\n       var data = Number(msg.payload[n]);\n       var all= all+ data;\n   }\n}\nmsg.payload = all/count;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":300,"wires":[["caa5dd27.25659"]]},{"id":"57ed8701.ba6098","type":"e-mail","z":"6c9e2a79.f8a9a4","server":"smtp.gmail.com","port":"465","secure":true,"name":"bhuyanmj@gmail.com","dname":"Email Alert","x":1280,"y":340,"wires":[]},{"id":"e56161c4.ccee7","type":"mqtt in","z":"6c9e2a79.f8a9a4","name":"mqtt","topic":"sensors/#","qos":"2","broker":"a08889ab.3b3708","x":130,"y":360,"wires":[["92d62590.82aef8"]]},{"id":"671406ca.8bcc18","type":"debug","z":"6c9e2a79.f8a9a4","name":"Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":480,"wires":[]},{"id":"a08889ab.3b3708","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]
