MQTT + Log/mqtt-2
[{"id":"d363eeff.ed9d9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fe1a68fb.fc0f28","type":"function","z":"d363eeff.ed9d9","name":"Read TinyOS Serial Message","func":"//MODIFY HERE WITH LENGTH OF PAYLOAD IN BYTES\nvar PAYLOAD_BYTES = 2;\nvar newMsg;\nvar tinyos_payload;\nvar ready = false;\n\n//initialize context if not ready\ncontext.bytes_received = context.bytes_received || 0;\ncontext.bytes_array = context.bytes_array || [];\n\n//update count of bytes received\nvar bytes_received = msg.payload.length;\ncontext.bytes_received+=bytes_received;\n\n//copy received bytes in context\nfor(var i=0;i<msg.payload.length;i++){\n\tcontext.bytes_array.push(msg.payload[i]);\n}\n\n//create TinyOS payload if correct number of bytes is received\nif(context.bytes_received >= 13 + PAYLOAD_BYTES){\n\t\n\tmsg.payload = context.bytes_array;\n\ttinyos_payload = context.bytes_array.slice(10,-3);\n\n\tcontext.bytes_received = 0;\n\tcontext.bytes_array = [];\n\n\tready = true;\n}\n\nif(ready){\n\t//GET THE PAYLOD (HEX FORMAT)\n\tvar byte_payload = new Buffer(tinyos_payload.length);\n\tfor(var i=0;i<tinyos_payload.length;i++){\n\t\tbyte_payload[i] = tinyos_payload[i];\n\t}\n\t\n\t//GET THE SINGLE FIELDS\n\tvar num = byte_payload.readUInt16BE(0,2);\n\tnewMsg = {payload: num};\n\treturn [msg,newMsg];\n}\nelse{\n\treturn [null,null];\n}\n\n\n","outputs":1,"noerr":0,"x":540,"y":411,"wires":[["aabd6431.dc0538","16cef2af.9f4bbd"]]},{"id":"4fad6cc3.2c8544","type":"tcp in","z":"d363eeff.ed9d9","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"buffer","newline":",","topic":"","base64":false,"x":240,"y":400,"wires":[["fe1a68fb.fc0f28"]]},{"id":"ebab37d5.a0c9a8","type":"debug","z":"d363eeff.ed9d9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":280,"wires":[]},{"id":"aabd6431.dc0538","type":"function","z":"d363eeff.ed9d9","name":"Temperature","func":"msg.payload = msg.payload[12]\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":320,"wires":[["ebab37d5.a0c9a8","477df893.8b5d18"]]},{"id":"16cef2af.9f4bbd","type":"function","z":"d363eeff.ed9d9","name":"Humidity","func":"msg.payload = msg.payload[13]\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":480,"wires":[["a62f4d8c.89949","6e38eb9c.455c34"]]},{"id":"a62f4d8c.89949","type":"debug","z":"d363eeff.ed9d9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":460,"wires":[]},{"id":"477df893.8b5d18","type":"ThingspeakSendSimple","z":"d363eeff.ed9d9","name":"Send Temperature","writekey":"KG1QNFB7F5EOCQLK","fieldid":"1","x":1030,"y":360,"wires":[]},{"id":"6e38eb9c.455c34","type":"ThingspeakSendSimple","z":"d363eeff.ed9d9","name":"Send Humidity","writekey":"KG1QNFB7F5EOCQLK","fieldid":"4","x":1020,"y":520,"wires":[]}]
