MQTT + Log/Node-Red_to_Thingspeak
[{"id":"c7018032.7ed37","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"9f69b734.bbf458","type":"function","z":"c7018032.7ed37","name":"Read TinyOS Serial Message","func":"//MODIFY HERE WITH LENGTH OF PAYLOAD IN BYTES\nvar PAYLOAD_BYTES = 2;\nvar newMsg;\nvar tinyos_payload;\nvar ready = false;\n\n//initialize context if not ready\ncontext.bytes_received = context.bytes_received || 0;\ncontext.bytes_array = context.bytes_array || [];\n\n//update count of bytes received\nvar bytes_received = msg.payload.length;\ncontext.bytes_received+=bytes_received;\n\n//copy received bytes in context\nfor(var i=0;i<msg.payload.length;i++){\n\tcontext.bytes_array.push(msg.payload[i]);\n}\n\n//create TinyOS payload if correct number of bytes is received\nif(context.bytes_received >= 13 + PAYLOAD_BYTES){\n\t\n\tmsg.payload = context.bytes_array;\n\ttinyos_payload = context.bytes_array.slice(10,-3);\n\n\tcontext.bytes_received = 0;\n\tcontext.bytes_array = [];\n\n\tready = true;\n}\n\nif(ready){\n\t//GET THE PAYLOD (HEX FORMAT)\n\tvar byte_payload = new Buffer(tinyos_payload.length);\n\tfor(var i=0;i<tinyos_payload.length;i++){\n\t\tbyte_payload[i] = tinyos_payload[i];\n\t}\n\t\n\t//GET THE SINGLE FIELDS\n\tvar num = byte_payload.readUInt16BE(0,2);\n\tnewMsg = {payload: num};\n\treturn [msg,newMsg];\n}\nelse{\n\treturn [null,null];\n}\n\n\n","outputs":1,"noerr":0,"x":540,"y":411,"wires":[["f751f920.f8b7c8","887daaec.d09248"]]},{"id":"e1775e9c.abcb4","type":"tcp in","z":"c7018032.7ed37","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"buffer","newline":",","topic":"","base64":false,"x":240,"y":400,"wires":[["9f69b734.bbf458"]]},{"id":"e3590e40.ce32c","type":"debug","z":"c7018032.7ed37","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":280,"wires":[]},{"id":"887daaec.d09248","type":"function","z":"c7018032.7ed37","name":"Temperature","func":"msg.topic=\"Temperature\"\nmsg.payload = (msg.payload[0]+msg.payload[1]+\n              msg.payload[2]+msg.payload[3]+\n              msg.payload[4]+msg.payload[5]+\n              msg.payload[6]+msg.payload[7]+\n              msg.payload[8]+msg.payload[9])/10;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":320,"wires":[["e3590e40.ce32c","41a9070b.69ec48"]]},{"id":"f751f920.f8b7c8","type":"function","z":"c7018032.7ed37","name":"Humidity","func":"msg.topic = \"Humidity\"\nmsg.payload = (msg.payload[10]+msg.payload[11]+\n              msg.payload[12]+msg.payload[13]+\n              msg.payload[14])/5;\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":480,"wires":[["d9dc4b49.f91888","c0a4fb5e.7c9d48"]]},{"id":"c0a4fb5e.7c9d48","type":"debug","z":"c7018032.7ed37","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":460,"wires":[]},{"id":"41a9070b.69ec48","type":"ThingspeakSendSimple","z":"c7018032.7ed37","name":"Send Temperature","writekey":"6NITSOHZ69KWQYOZ","fieldid":"1","x":1030,"y":360,"wires":[]},{"id":"d9dc4b49.f91888","type":"ThingspeakSendSimple","z":"c7018032.7ed37","name":"Send Humidity","writekey":"6NITSOHZ69KWQYOZ","fieldid":"2","x":1020,"y":520,"wires":[]}]
